<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avengers.musinsa.mapper.FailureQueueMapper">

    <insert id="insertFailureQueue">
        INSERT INTO order_failure_queue (
            failure_type,
            order_id,
            failure_data,
            status,
            created_at
        ) VALUES (
                     #{failureType},
                     #{orderId},
                     #{failureData},
                     'PENDING',
                     NOW()
                 )
    </insert>

</mapper>